.bike-list {
  margin: 0 auto;
  padding: 0 70px;
  width: calc(100vw - 140px);
  box-sizing: border-box;
  padding-bottom: 120px;
}

.bike-list h2 {
  padding-bottom: 40px;
}

.bike-list ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
  padding: auto;
  margin: auto;
  overflow-x: auto;
}

.bike-list a {
  display: block;
  text-decoration: none;
  position: relative;
}

.bike-list img {
  max-width: 100%;
  height: auto;
}

.bike-list h3 {
  margin: 10px 0;
  position: relative;
  display: flex;
  align-items: center;
}

.bike-list h3::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
  margin-right: 8px;
}

.bike-list a:hover h3::before {
  width: 24px;
  transition: 0.3s;
}

.bike-list li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bike-list {
    padding-bottom: 60px;
  }
  .bike-list ul {
    gap: 20px;
  }
}
